body {background-color: black;}

h1 {
  font-family: "Libre Baskerville" serif ;
  text-transform: uppercase;
  color:white;
  text-align: center;
}

h2 { 
    font-family: "Libre Baskerville" serif ;
    color:white;
    text-align: center;}


img {
    border:5px solid white;
    display: block;
    width: 70%;
    margin: auto;
  }



